<!DOCTYPE html>
<html lang = "en">
   <head>
    <title>Ejercicio U5</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
  </head>
   <body>
   <br>
   <div class = 'titulo'>
     <h1>Inicio de Sesión</h1>
   </div>
   <div>
      <form action = "{{ request.path }}" method = "post" class = "container">
         <label for = "dni">DNI</label><br>
         <input type = "number" name = "dni" placeholder = "DNI" /><br>

         <label for = "clave">Contraseña</label><br>
         <input type = "password" name = "clave" placeholder = "Contraseña"/><br>
     <br>
         <input type = "submit" value = "Iniciar sesión" class = boton ></input><br>
      </form>
   </div>
   </body>
</html>
